*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 16px;
	max-width: 576px;
	font-family: sans-serif;
}

h3,
form,
label {
	margin-top: 0;
	margin-bottom: 16px;
}

h3,
form {
	display: block;
}

label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

label > span {
	display: block;
	flex-grow: 1;
	margin-bottom: 4px;
}

input,
button {
	padding: 8px;
	height: 36px;
}

hr {
	margin: 16px 0;
	border: 0;
	border-bottom: 1px solid #808080;
	color: transparent;
}

small {
	font-size: 0.875rem;
}

a {
	color: LinkText;
	color: -webkit-link;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.input-form {
	display: flex;
	gap: 8px;
}
.input-form input {
	flex-grow: 1;
}

.user-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.user {
	display: flex;
	align-items: center;
	gap: 4px;
	min-width: 0;
}
.user-status {
	width: 1rem;
	height: 1rem;
}
.user-status[data-followed='true'] {
	color: #16a34a;
}
.user-status[data-followed='false'] {
	color: #dc2626;
}
